@import "tailwindcss";

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
}

:root {
  --background: #050505;
  --foreground: #ededed;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}